/* Layout */
.card {
  list-style-type: none;
  background: white;
  margin: 0 1rem 2rem 2rem;
  padding: 1rem;
  min-width: 30rem;
  border-radius: 5px;
  cursor: pointer;
}

.cardTop {
  display: flex;
  justify-content: space-between;
}

.cardBottom {
  display: flex;
  margin: 2rem 0 0 0;
}

/* Text styling */
.name {
  color: #23395a;
  font-size: 1.6rem;
}

.id,
.date {
  color: #566c8d;
}

.typeProg,
.typeQuiz,
.statusPass,
.statusFail,
.statusPending,
.statusGrading {
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 2px;
}

.typeProg {
  background-color: #706391;
}

.typeQuiz {
  background-color: #f5a4d0;
}

.statusPass {
  background-color: #89dd80;
}

.statusFail,
.statusLate {
  background-color: #c53a2a;
}

.statusGrading {
  background-color: #d9a21b;
}

.statusPending {
  background-color: #a4abbd;
}

/* Variants */
.card:hover {
  border: 3px solid #23395a;
}

/* Others */
