/* Layout */
.footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #f3f4f6;
  width: 100%;
  padding: 0.7rem;
}

/* Styling */
.title {
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #23395a;
}

.score {
  background: white;
  color: #23395a;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}

.exit {
  cursor: pointer;
  font-family: "Product Sans";
  font-size: 0.8rem;
  min-width: 6rem;
  color: white;
  background-color: #c53a2a;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  font-weight: 700;
}
