/* Layout */
.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #f3f4f6;
  width: 100%;
  padding: 0.7rem;
}

.questions {
  max-height: 37.5rem;
  overflow: scroll;
  padding: 1rem;
  list-style: none;
}

.item {
  margin-bottom: 2rem;
}

.radio {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* Button */
.save,
.exit {
  cursor: pointer;
  font-family: "Product Sans";
  font-size: 0.8rem;
  min-width: 6rem;
  color: white;
  background-color: #c53a2a;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  font-weight: 700;
}

.save {
  background-color: #89dd80;
}

.exit {
  background-color: #c53a2a;
}

.title {
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #23395a;
}

.choices {
  padding-left: 1.5rem;
  list-style: upper-alpha;
  margin-bottom: 1rem;
}
