/* Layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20rem;
  background-color: white;
  border-radius: 3px;
  height: 100vh;
  padding: 3vh 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inputContainer {
  height: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

/* Container styling */
.inputContainer {
  background-color: #f3f4f6;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.dropDown {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  height: 2rem;
  margin-bottom: 1rem;
}

/* Text Styling */
.title,
.subTitle,
.inputText,
.dropDownText {
  color: #23395a;
}

.title {
  font-weight: 800;
  font-size: 3rem;
}

.subTitle,
.inputText {
  font-weight: 600;
}

.inputLabel {
  color: #566c8d;
  font-size: 1rem;
}

.inputText {
  border: none;
  background-color: #f3f4f6;
  font-size: 0.8rem;
}

.signup {
  margin: 5px auto;
  color: #566c8d;
}

.signup,
.signupButton {
  font-size: 1rem;
}

/* Text variants */
.inputText:focus {
  outline: none;
}

.signupButton:hover {
  text-decoration: underline;
}

/* Others */
.login {
  font-family: "Product Sans";
  font-size: 1rem;
  background-color: #23395a;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 0px 5px 10px;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
}

.signupButton {
  background: none;
  border: none;
  color: #23395a;
  font-weight: 600;
  cursor: pointer;
}
