/* Layout */
.container {
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inputContainer {
  height: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

/* Container styling */
.inputContainer {
  background-color: #f3f4f6;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

/* Text Styling */
.title,
.subTitle,
.inputText {
  color: #23395a;
}

.title {
  font-weight: 800;
  font-size: 3rem;
}

.subTitle,
.inputText {
  font-weight: 600;
}

.inputLabel {
  color: #566c8d;
  font-size: 1.2rem;
}

.inputText {
  border: none;
  background-color: #f3f4f6;
  font-size: 0.8rem;
}

/* Text variants */
.inputText:focus {
  outline: none;
}
