/* Layout */
.container {
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

/* Text Styling */
.title,
.subTitle,
.inputText {
  color: #23395a;
}

.title {
  font-weight: 800;
  font-size: 3rem;
}

.subTitle,
.inputText {
  font-weight: 600;
}

.inputLabel {
  color: #566c8d;
}
