/* NavItem styling */
.navItem {
  display: flex;
  margin: 1rem;
  list-style-type: none;
  border-radius: 3px;
}

.link {
  font-size: 1.2rem;
  color: #23395a;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}

/* NavItem for when route matches */
.navItemActive {
  background-color: #23395a;
}

.linkActive {
  color: white;
}
