/* Layout */
.card {
  list-style-type: none;
  background: white;
  margin: 0 1rem 2rem 0;
  padding: 1rem;
  min-width: 22rem;
  border-radius: 5px;
  cursor: pointer;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.markdownWrapper {
  max-height: 37.5rem;
  overflow: scroll;
  padding: 1rem 2rem;
  list-style: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #f3f4f6;
  width: 100%;
  padding: 0.7rem;
}

/* Text styling */
.name {
  color: #23395a;
  font-size: 1.6rem;
}

.id {
  color: #566c8d;
}

.prof {
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  background-color: #23395a;
  color: white;
  display: inline-block;
}

.info {
  font-family: "Product Sans";
  font-size: 1rem;
  background-color: white;
  color: #a4abbd;
  border: solid 1px #a4abbd;
  border-radius: 3px;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  font-weight: 600;
}

/* Variants */
.card:hover {
  border: 3px solid #23395a;
}

.info:hover {
  border: none;
  background-color: #a4abbd;
  color: white;
}

/* Others */
.current,
.current:hover {
  border: 3px solid #c53a2a;
}

.exit {
  cursor: pointer;
  font-family: "Product Sans";
  font-size: 0.8rem;
  min-width: 6rem;
  color: white;
  background-color: #c53a2a;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  font-weight: 700;
}
