/* Layout */
.card {
  list-style-type: none;
  background: white;
  margin: 0 1rem 2rem 0;
  padding: 1rem;
  width: 22rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Text styling */
.name {
  color: #23395a;
  font-size: 1.6rem;
}

.id {
  color: #566c8d;
}

.prof {
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  background-color: #23395a;
  color: white;
  display: inline-block;
}

/* Variants */
.card:hover {
  border: 3px solid #23395a;
}

/* Others */
.current,
.current:hover {
  border: 3px solid #c53a2a;
}
